.footer {
  max-width: 318px;
  margin: 67px auto 60px;
  margin-right: 762px;
}
.footer__copyright {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px; /* alterar responsividade depois*/
  text-align: left;
  color: rgba(84, 84, 84, 1);
}
