.grid {
  width: 880px;
  margin: 50px auto 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}

.grid__images {
  border-radius: 10px 10px 0 0;
}
.grid__card {
  max-width: 282px;
  background: rgba(255, 255, 255, 1);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 31px;
}
.grid__text {
  max-width: 246px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  margin-left: 21px;
}
.grid__button {
  max-width: 21px;
  height: 19px;
  padding: 0;
  margin: 0;
  margin-right: 15px;
  border: none;
}
.grid__button:hover {
  cursor: url(../images/click-hover.svg), auto;
  opacity: 50%;
}
@media screen and (max-width: 768px) {
  .grid {
    width: 583px;
    margin: 50px auto 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 320px) {
  .grid {
    width: 282px;
    margin: 36px auto 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
  }
}
