.profile {
  display: flex;
  max-width: 880px;
  margin: 40px auto 0;
}
.profile__photo {
  max-width: 120px;
  height: 100%;
  border-radius: 50%;
  margin: 0;
  margin-right: 30px;
}
.profile__info {
  display: flex;
  flex-flow: row wrap;
  max-width: 415px;
  font-family: Inter;
  text-align: left;
  color: #ffff;
  margin: 0;
  object-fit: contain;
}
.profile__name {
  max-width: 373px;
  margin: 22px 0 16px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px; /* alterar responsividade depois*/
}
.profile__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #ffff;
  padding: 0;
  background: none;
  margin: 37px 0 0 18px;
}
.profile__edit:hover {
  cursor: url(../images/click-hover.svg), auto;
  opacity: 60%;
}
.profile__edit-image {
  max-width: 10px;
  margin: 0;
}
.profile__description {
  max-width: 415px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px; /* alterar responsividade depois*/
  margin: 0;
}
.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px solid #ffff;
  background: #000;
  padding: 14px 64px;
  margin: 35px 0 35px 170px;
}
.profile__add-button:hover {
  cursor: url(../images/click-hover.svg), auto;
  opacity: 60%;
}
.profile__add-image {
  max-width: 22px;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .profile {
    max-width: 768px;
    margin: 40px auto 0;
  }
  .profile__name {
    margin: 22px 0 16px;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px; /* alterar responsividade depois*/
  }
  .profile__edit {
    margin: 37px 0 0 18px;
  }
  .profile__edit:hover {
    cursor: url(../images/click-hover.svg), auto;
    opacity: 60%;
  }
  .profile__description {
    font-size: 18px;
  }
  .profile__add-button {
    margin: 35px 0 35px 55px;
  }
}
@media screen and (max-width: 768px) {
  .profile {
    max-width: 768px;
    margin: 40px 0 0;
    justify-content: space-evenly;
  }
  .profile__photo {
    max-width: 100px;
    margin-right: 0;
  }
  .profile__add-button {
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    max-width: 320px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .profile__photo {
    max-width: 120px;
  }
  .profile__info {
    max-width: 282px;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
  }
  .profile__name {
    max-width: 224px;
    font-family: Inter;
    font-size: 22px;
    line-height: 26.63px;
    margin: 0;
  }
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 14px;
  }
  .profile__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin: 4px 0 0 10px;
  }
  .profile__edit-image {
    max-width: 7.5px;
  }
  .profile__add-button {
    width: 282px;
    padding: 0;
    margin: 36px auto 36px;
  }
  .profile__add-image {
    max-width: 16px;
  }
}
